# dependencies
node_modules
client/node_modules
server/node_modules

# environment variables
.env
.env.local
.env.*.local
client/.env
client/.env.local
server/.env

# builds
dist
build
client/dist
server/dist
server/public

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db